.funni {
    color: white;
    font-size: 10vw;;
    margin: 5px;
    padding: 5;
    text-align: center;
    background-color: red;
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: Impact, sans-serif;
}
body {
    text-align: center;
}
.funniimg {
    
}
h1 {
    font: bold;
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
}
ul.no-bullets {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}
.funnyy {
    max-width: 2000in;
    height: 2256in;
}

