
body {
    font-family: Verdana;
    background-color: #000000;
}

a {
    text-decoration: none;
    
}
a.hidden {
    color: #000000;
}
.headnav {
    
    background-color:rgba(0, 0, 0, 0.6);
    
}


/* #region header */

.headerFlex {
    display: flex;
    justify-content: center;

    
}
h1 {
    border: solid 5px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 5px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

/* #endregion */

/* #region navigation */

.navigation {
    display: flex;
    justify-content: center;

    

    flex-wrap: wrap;
    flex-direction: row;

    
    
    

}

.navigation>ul {

    padding: 10px;
    
    border-style: ridge;
    border-color: black;
    border-width: 5px;

    background-color: rgb(153, 153, 153);


    list-style-type: none;
}

.navigation>ul>li {
    display: inline-block;

    border-style: ridge;
    border-color: black;
    border-width: 5px;

    background-color: rgb(255, 255, 255);

    padding: 5px;

    
}





/* #endregion */

/* #region main */

.backgroundMain {
    background-image: url(images/beachfront-view-at-hawaiian-islands-humpback-whale-national-marine-sanctuary_800.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
.darkbackground {
    background-color:rgba(0, 0, 0, 0.6);

    
    padding-top: 3vw;
    padding-bottom: 0px;
    margin-left: 5vw;
    margin-right: 5vw;
    
    
}
.mainContent {
    
    background-color: white;
    margin-left: 3vw;
    margin-right: 3vw;


    text-align: center;


}
.mainContent>h3 {
    text-align: center;
}






/* #endregion */

/* #region footer */

footer {
    background-color: white;

    text-align: center;

    padding: 5px
    
    
}
.FooterBlend {
    background-color: white;
}




/* #endregion */