/* #region Desktop */
/* #region nav */
nav {
    border-top: solid;
    border-color: white;

    
   
    

    
}

nav>ul {
    display: flex;
    
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}

nav>ul>li:hover {
    background-color: rgba(52, 10, 60, 255);
    
}

nav>ul>li {
    background-color: white;
    border: ridge;
    padding: .5%;
    border-color: rgba(52, 10, 60, 25);
    
    
}

nav>ul>li:hover{
    border-color: white;
    
}

nav>ul>li>a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Verdana;
}

nav>ul>li>a:hover {
    
    color: white;
}
/* #endregion */
/* #region header */
header {
    padding: 1rem 2vw;
    display: flex;
    align-items: flex-end;

    background-image: url(images/Funny.png);
    background-size: cover;
    background-position: 20em;
    
}

header>div {
    padding-left: 2vw;
    text-align: center;


}

header>div>h1 {
    font-family: Cambria;
    display: block;
    text-align: center;
    border: ridge;
    padding: 0%;
    color: white;
    padding-bottom: 2%;
}

header>div>p {
    color: white;

}

header>img {
    
    display: block;
    
}
/* #endregion */
body {
    background-color: rgba(52, 10, 60, 255);
}

.Cavey {
    text-align: center;
    border: ridge;
    
    border-color: white;


}

main {
    font-family: Cambria;
    display: block;
    text-align: center;
    
    color: white;
    background-image: linear-gradient(rgba(52, 10, 60, 255), black)
}

/* #endregion */

/* #region Mobile Gaming */

@media screen and (max-width: 600px) {
    
    nav>ul {
        display: block;
    }


    

}




/* #endregion */







